*{
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  font-style: normal;
  background-color: #0E0E0E;
}

.layoutcontainer {
  display: grid;
  grid-template:  650px 400px 550px 530px 80px / 1fr ;
  width: auto;
  height: 100vh;
}

.layoutcontainer__home {
  background: #000;
  grid-column: 1/2;
  grid-row: 1;
}

.planet{

  display: flex;
  justify-content: flex-end;
}

.planet__intro{

  position: absolute;
  top: 260px;
  left: 200px;
}

.planet p{

  color: #FFF;
  font-size: 38px;
  line-height: 42px;
}

.layoutcontainer__publicity{

  background: linear-gradient(270deg, #00E6E3 2.73%, #00FF68 100%);
  grid-column: 1;
  grid-row: 2/3;
  transform: rotate(-0.5deg);
  

}

.publicity__mockup{

  position: absolute;
  left: 250px;
  bottom: 60px;

}

.publicity__vision {
  position: absolute;
  top: 60px;
  right: 250px;
}


.publicity__vision p{
  font-size: 46px;
  
}


.layoutcontainer__benefits{

  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 3/4;
}

.benefits__description{
  
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.benefits__description p{
  color: #FFF;
  font-size: 36px;
}

.benefits__categories{
  display: flex;
  justify-content: space-evenly;
  height: 350px;
}

.layoutcontainer__gratitude{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  grid-row: 4/5;

}

.gratitude__description p{
  text-align: center;
  color: #FFF;
}
.gratitude__description--textone{
  font-size: 36px;
}
.gratitude__description--texttwo{
  font-size: 28px;
}
.layoutcontainer__footer{
  display: flex;
  justify-content: center;
  border-top: 2px solid #232323;
  grid-column: 1/2;
  grid-row: 5/6;

}

.layoutcontainer__footer img{
  
  width: 100px;
}
